<div class="card">
  <div class="card-body">
    <h2>Add Milestone to "<%= @poam_remediation.title.presence || "Untitled remediation" %>"</h2>
    <%= render "form", poam_document: @poam_document, poam_remediation: @poam_remediation,
                       poam_milestone: @poam_milestone %>
  </div>
</div>
