<div class="card">
  <div class="card-body">
    <h2>Add Finding to <%= @poam_document.name %></h2>
    <%= render "form", poam_document: @poam_document, poam_finding: @poam_finding %>
  </div>
</div>
