<div class="card">
  <div class="card-body">
  <h2 style="margin-bottom: 0.5rem;">Edit Family: <%= @control_family.code %> — <%= @control_family.name %></h2>
  <p class="text-body-secondary mb-4">
    Catalog: <%= link_to @control_catalog.name, @control_catalog, class: "text-primary" %>
  </p>
  <%= render "form", control_catalog: @control_catalog, control_family: @control_family %>
  </div>
</div>
