<div class="card">
  <div class="card-body">
    <h2>Edit Component — <%= @poam_local_component.title.presence || "Untitled" %></h2>
    <%= render "form", poam_document: @poam_document, poam_local_component: @poam_local_component %>
  </div>
</div>
