<div class="card">
  <h2 class="mb-2">Add Environment to <%= @authorization_boundary.name %></h2>
  <p class="text-body-secondary mb-4">Define an environment and associate components.</p>
  <%= render "form", boundary: @boundary %>
</div>
