<div class="card">
  <h2 class="mb-2">Add Boundary to <%= @project.name %></h2>
  <p class="text-body-secondary mb-4">Define an authorization boundary and associate components.</p>
  <%= render "form", boundary: @boundary %>
</div>
