<div class="card">
  <h2 class="mb-2">Add Member to <%= @authorization_boundary.name %></h2>
  <p class="text-body-secondary mb-4">Assign an RMF role to a team member.</p>
  <%= render "form", membership: @membership %>
</div>
